.upload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.upload-form {
  height: auto;
  width: 500px;
  border: 1px solid gray;
  padding: 30px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: #fff;
}

.upload-form h2 {
  margin-bottom: 10px;
  text-align: center;
}

.upload-input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 16px;
}

.upload-button {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.upload-button:hover {
  background-color: #0056b3;
}